.card{
    width:300px;
    height:567px;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
    cursor:pointer;
    display:inline-block;
}

span.path{
    background-image: inherit;
}

.playArea{
    width:300px;
    height:567px;
    border:1px solid #151718;
    margin-right:5px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
}

.container{
    overflow: hidden;
    white-space: nowrap;
}