.card{
    width:300px;
    height:567px;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    border-radius:2px;
    font-family:courier;
    cursor:pointer;
}

span.path{
    background-image: inherit;
}
span.playArea{

}

span.deck{

}